.reusableButton {
  all: unset;
  border-radius: 50px;
  width: 95%;
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 3rem;
}
.reusableButton:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
