.detailSection {
  margin: 2rem 0;
}

.detailInfo {
  display: flex;
  gap: 1rem;
  padding: 3rem 12px;
}
.detailLeft {
  flex: 5;
}
.detailLeft h2 {
  margin: 0;
}
.detailLeft iframe {
  margin: 2rem 0;
}
.detailRight {
  flex: 2;
}

.stickyItem {
  width: 100%;
  position: sticky !important;
  position: -webkit-sticky !important;
  position: -moz-sticky !important;
  position: -ms-sticky !important;
  position: -o-sticky !important;
  top: 100px !important;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem;
  border-radius: 4px;
  max-height: 500px;
}
.reservationInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.bookBtn {
  all: unset;
  background-color: blue;
  color: white;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.bookBtn:hover {
  transform: scale(1.03);
}

.rightInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: blue;
}
.rightInfo img {
  width: 200px;
  height: 130px;
  object-fit: cover;
}

.detailDate,
.detailTime,
.detailGuests {
  border: 1px solid #d1d5db;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.detailDate input {
  all: unset;
}
.detailTime,
.detailGuests {
  display: flex;
  flex-direction: column;
}
.detailTime h4,
.detailGuests h4 {
  margin: 0;
}
.detailTime select,
.detailGuests select {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  cursor: pointer;
}

.searchBtn {
  all: unset;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  background-color: blue;
  cursor: pointer;
  transition: all 0.3s ease;
}

.searchBtn:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1370px) {
  .detailInfo {
    width: 1100px;
    margin-left: 4rem;
  }
}
@media screen and (max-width: 1240px) {
  .detailInfo {
    width: 900px;
    margin-left: 6rem;
  }

  .detailRight {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  .detailInfo {
    width: 800px;
    flex-direction: column;
    margin-left: 6rem;
  }

  .detailRight {
    order: 1;
  }

  .detailLeft {
    order: 2;
  }
  .detailRight {
    order: 1;
    display: block;
  }
}

@media screen and (max-width: 940px) {
  .detailInfo {
    margin-left: 2.5rem;
    width: 600px;
  }
}
@media screen and (max-width: 650px) {
  .detailInfo {
    width: 500px;
    margin-left: 0;
  }
}
